@import url(../css/normalize.css);

$main: #d4bd68;
$dark-bg: #292929;
$grey: #b9b9b9;
$second: rgb(255, 217, 0);
$shadow: rgba(0, 0, 0, .15);
$blue: #3d8be3;

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .container {
    max-width: unset;
}


.btn {
    background: $main;
    border: none;
    padding: 5px 15px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    border: 1px solid transparent;
    font-weight: 600;
    transition: all .3s;

    &:hover {
        background: transparent;
        border: 1px solid $main;
        color: $main;
    }
}

.btn-white {
    color: black;
    background: white;

    &:hover {
        background: $main;
        background: transparent;
        border: 1px solid white;
        color: white;
    }
}


.title {
    font-size: clamp(24px, 19.26px + 1.18vw, 42px);
    font-weight: bold;
    text-align: center;
}

.header {
    padding: 0px 40px;
    border-bottom: 1px solid lighten($shadow, 60%);

    position: relative;
    z-index: 1;
    // background: $main;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__mobile {
        display: none;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__logo {
        color: $main;
        text-decoration: none;
        font-size: clamp(26px, 23.37px + 0.66vw, 36px);
        font-weight: bold;
        line-height: 100%;
        transition-delay: .1s;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        margin-top: 10px;
        transition-delay: .2s;
    }

    &__item {
        text-decoration: none;
        color: $dark-bg;
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 20px;
        transition-delay: .3s;
    }

    &__tg {
        width: 75px;
        height: 75px;
        padding: 10px;
    }

    &__contact {}
}

.choises {
    cursor: pointer;
    position: relative;
    width: 150px;
    z-index: 10;
}

.choises::before {
    content: '∨';
    position: absolute;
    right: 20px;
    font-size: 20px;
    color: white;
    line-height: 20px;
    // font-weight: 900;
    top: 50%;
    transform: translateY(-50%);
}

.choises.active .choise__selected {
    border-radius: 5px 5px 0 0;
}

.choise {
    cursor: pointer;
    padding: 5px 15px;



    &__selected {
        padding: 10px 20px;
        background: $main;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        transition: all .3s;
    }

    &__items {
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: height .3s ease-out;
        background: white;
        border-radius: 0 0 10px 10px;
        box-shadow: 1px 1px 5px $shadow;
    }

    // .active &__items {
    //     height: auto;

    // }
}


.hero {
    position: relative;
    height: calc(100vh - 80px - 50px);
    margin: 40px;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 0;
    z-index: 0;
    background: url('../img/hero-image.jpg') center / cover no-repeat fixed;
    transition-delay: .5s;

    .container {
        height: 100%;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .65);
        z-index: 1;
    }




    &__wrapper {
        position: relative;
        z-index: 2;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        font-size: clamp(20px, 11.58px + 2.11vw, 52px);
        color: white;
        text-align: center;
        max-width: 800px;
        font-weight: bold;
        transition-delay: .6s;
    }

    &__text {
        margin-top: 30px;
        font-size: clamp(16px, 14.42px + 0.39vw, 22px);
        color: white;
        text-align: center;
        transition-delay: .7s;
    }

    &__button {
        margin-top: 40px;
        padding: 15px 40px;
        border-radius: 30px;
        transition:
            opacity 0.8s 0.8s,
            transform 0.8s 0.8s,
            background-color 0.3s,
            color 0.3s,
            border .3s;
    }
}

.about {
    margin-top: 30px;
    background: url('../img/about-image.jpg') center / cover no-repeat;
    border-radius: 30px;
    overflow: hidden;
    height: 100vh;
    position: relative;

    .container {
        height: 100%;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .75);

    }

    &__wrapper {
        color: white;
        position: relative;
        z-index: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -50px;
    }

    &__title {
        text-align: center;
        font-weight: bold;
        font-size: 22px;
    }

    &__text {
        font-size: clamp(14px, 12.95px + 0.26vw, 18px);
        max-width: 660px;
        margin: 0 auto;
        margin-top: 30px;
    }

    &__author {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    &__icon {

        width: 100%;
        display: flex;
        justify-content: center;

        img {
            width: 75px;
            height: 75px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    &__name {
        margin-top: 10px;
    }

    &__date {
        margin-top: 5px;
    }

    &__down {
        display: flex;
        justify-content: center;
        width: 100%;
        cursor: pointer;
        filter: invert(1);
        margin-top: 15px;

        img {
            width: 75px;
            animation: bounce 1s infinite alternate linear;
        }
    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(10px);
    }
}

.who {
    min-height: 100vh;

    &__wrapper {
        padding: 135px 0;
    }

    &__title {
        text-align: center;
        font-weight: bold;
    }

    &__subtitle {
        font-size: clamp(14px, 11.37px + 0.66vw, 24px);
        text-align: center;
        max-width: 600px;
        font-weight: 300;
        margin: 0 auto;
        margin-top: 30px;
    }

    &__list {
        margin-top: 75px;
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__name {
        font-weight: bold;
        font-size: clamp(16px, 14.95px + 0.26vw, 20px);
        align-items: center;
        display: flex;
        gap: 20px;

        &::before {
            content: '✓';
            margin-top: 5px;
            background: $second;
            display: grid;
            place-items: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: white;

        }
    }

    &__descr {
        font-weight: 300;
        padding-left: 50px;
        font-size: clamp(14px, 12.95px + 0.26vw, 18px);
    }
}

.advantages {
    background: $dark-bg;
    color: white;

    .who__name {
        &::before {
            color: $dark-bg;
        }
    }

}

.rules {

    background: #eeeeee;
    padding: 90px 0;

    &__wrapper {
        max-width: 760px;
        margin: 0 auto;
    }

    &__title {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }

    &__sublist {
        padding-left: 20px;
        max-width: 560px;
        margin: 0 auto;
        margin-top: 30px;
        display: grid;
        gap: 10px;
        font-weight: 300;
    }

    ul.rules__sublist {
        list-style: disc;
    }

    ol.rules__sublist {
        list-style: decimal;
    }


    &__subitem {
        font-size: 14px;
    }

    &__questions {
        background: white;
        margin-top: 50px;
        box-shadow: 1px 1px 10px $shadow;
    }
}


.question {
    border-bottom: 1px solid lightgray;



    &__name {
        padding: 20px 30px;
        cursor: pointer;
        position: relative;
        font-weight: bold;

        &:hover {

            &:before {
                background: $shadow;
            }
        }

        &::before {
            content: '+';
            position: absolute;
            right: 20px;
            top: 50%;
            width: 40px;
            transition: all .3s linear;
            height: 40px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            font-size: 30px;
            line-height: 30px;
            transform: translateY(-50%);
            padding-bottom: 7px;
            font-weight: 300;

        }
    }

    &__answer {
        height: 0;
        transition: all .5s;
        overflow: hidden;
        padding: 0px 30px;
        font-weight: 300;
    }

    &__answer.active {
        padding-bottom: 20px;
    }

    &.active &__name::before {
        transform: translateY(-50%) rotate(-45deg);
    }

}

.partners {
    padding: 135px 0;

    &__wrapper {}

    .rules__sublist {
        li {
            font-size: 18px;
        }
    }

    &__title {}

    &__items {
        margin-top: 80px;
        display: grid;
        gap: 80px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 22.5px;
            z-index: 0;
            top: 0px;
            width: 3px;
            height: 90%;
            background: $second;
        }
    }

    &__item {
        display: flex;
        gap: 25px;
        counter-increment: numberBlock;
        z-index: 1;
    }

    &__number {
        background: $second;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        position: relative;
        flex-shrink: 0;


        &::before {
            content: counter(numberBlock);
            font-size: 20px;
            line-height: 20px;
            font-weight: 600;
        }


    }

    &__info {}

    &__name {
        font-size: 22px;
        font-weight: bold;
    }

    &__text {
        font-weight: 300;
    }
}

.safety {
    .who__subtitle {
        max-width: 560px;

        p {
            margin-bottom: 0;
        }
    }
}

.tg {

    padding: 50px 0;
    padding-bottom: 0;

    &__button {
        padding: 15px 60px;
        border: 3px solid $blue;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        color: black;
        display: block;
        width: max-content;
        margin: 0 auto;
    }
}

.form {
    padding: 135px 0;

    &__wrapper {}

    &__title {}

    &__subtitle {
        font-size: clamp(14px, 12.95px + 0.26vw, 18px);
        font-weight: 300;
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
        margin-top: 40px;
    }

    &__items {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    form {
        max-width: 760px;
        margin: 0 auto;
    }

    &__input {
        position: relative;

        input,
        textarea {
            padding: 26px 20px 10px;
            width: 100%;
            border: 1px solid black;
            outline: none;

            &:focus {
                ~label {
                    top: 5px;
                    font-size: 12px;
                }
            }

            &.no-empty+label {
                top: 5px;
                font-size: 12px;
            }
        }

        label {
            position: absolute;
            top: 18px;
            left: 20px;
            transition: all .3s;
            color: $grey;
            pointer-events: none;
        }
    }

    &__accept {}

    &__textarea {
        grid-row: 2;
        grid-column: 1/3;

        textarea {
            height: 100px;
        }
    }

    &__phone {
        grid-column: 1/3;

        input {
            padding: 15px 20px;
        }
    }

    &__text {
        margin-top: 30px;
        font-size: clamp(16px, 14.95px + 0.26vw, 20px);
        font-weight: 300;
    }


    &__checkbox {
        margin-top: 5px;

        input {
            display: none;

            &:checked~label:after {
                opacity: 1;
            }
        }

        label {
            padding-left: 30px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                border: 2px solid #000;
            }

            &::after {
                content: '✓';
                position: absolute;
                top: 2px;
                left: 5px;
                font-size: 16px;
                line-height: 16px;
                width: 20px;
                height: 20px;
                opacity: 0;
                transform-origin: center center;
                transition: all .3s;
            }

        }
    }

    &__label {
        font-size: 15px;
        font-weight: 300;
    }

    &__submit {
        display: block;
        margin: 0 auto;
        margin-top: 25px;
        padding: 15px 60px;
    }

    &__under {
        margin-top: 40px;
        font-size: 14px;
        text-align: center;
        font-weight: 300;
    }
}




.animation {
    opacity: 0;
    transform: translateY(-30px);
    transition-duration: .5s;
}

.animation.visible {
    transform: translateY(0px);
    opacity: 1;
}


.footer {
    padding: 0px 40px;
    background: $dark-bg;
    color: white;

    .container {
        max-width: unset;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        padding: 20px 0;
        padding-bottom: 60px;
    }

    &__copyright {
        transition-delay: .2s;
    }

    &__nav {
        display: flex;
        gap: 30px;
        transition-delay: .4s;
    }

    &__item {
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
    }

    &__back {
        transition-delay: .6s;
        color: white;
        text-decoration: none;
    }
}

@media (max-width:1399px) {
    .container {
        padding: 0 40px;
    }

    .header {
        padding: 0;
    }

    .footer {
        padding: 0;
    }
}

@media (max-width:1200px) {
    .header {
        &__contacts {
            gap: 15px;
        }

        &__left {
            gap: 30px;
        }

        &__tg {
            width: 55px;
            height: 55px;
            padding: 5px;
        }


    }

    .choises {
        width: 100px;
    }

    .choise {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .who__wrapper,
    .rules,
    .partners,
    .form {
        padding: 80px 0;
    }

    .about__wrapper {
        margin-top: -75px;
    }


}

@media (max-width:992px) {
    .header {
        &__wrapper {
            display: none;
        }

        .container {
            padding: 0 0px;
        }

        &__mobile {
            display: flex;
            width: 100%;
            position: relative;
        }

        &__mobile-drop {
            position: absolute;
            top: 100%;
            background: white;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 20px;
            display: none;
            z-index: 10;
            animation: closeMenu .5s forwards;

            .header__nav {
                flex-direction: column;
                align-items: start;
            }

            .header__contacts {
                margin-top: 30px;
                justify-content: center;
            }

        }

        &__mobile-top {
            padding: 20px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        &__burger {
            border: none;
            outline: none;
            background: none;
            display: grid;
            gap: 5px;

            span {
                display: block;
                width: 25px;
                height: 2px;
                border-radius: 2px;
                background: $dark-bg;
            }
        }

        &__mobile-drop {
            &.active {
                display: flex;
                animation: dropMenu .5s forwards;
            }
        }
    }


    .about__author {
        width: 100%;
        bottom: -75px;
    }

    .footer__wrapper {
        flex-wrap: wrap;
    }

    .footer__nav {
        order: 3;
    }

    .footer__back {
        text-align: center;
        order: 2;
    }
}

@keyframes dropMenu {
    from {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    to {
        display: flex;
        visibility: visible;
        opacity: 1;
    }
}

@keyframes closeMenu {
    to {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    from {
        display: flex;
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width:767px) {

    .question__name {
        padding-right: 70px;
    }


    .who__wrapper,
    .rules,
    .partners,
    .form {
        padding: 60px 0;
    }

    .who__list {
        margin-top: 40px;
        gap: 30px;
    }
}

@media (max-width:577px) {
    .container {
        padding: 0 20px;
    }

    .who__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .hero {
        margin: 20px;
        margin-bottom: 0;
        min-height: 50vh;
        height: unset;
        display: flex;
        align-items: center;
    }

    .who__wrapper,
    .rules,
    .partners,
    .form {
        padding: 60px 0;
    }

    .who,
    .about {
        min-height: unset;
    }

    .form__items {
        margin-top: 40px;
        grid-template-columns: repeat(1, 1fr);
    }

    .form__subtitle {
        margin-top: 30px;
    }

    .form__textarea {
        grid-column: unset;
        grid-row: unset;
    }

    .form__phone {
        grid-column: unset;
        grid-row: unset;
    }

    .partners__items::after {
        height: 85%;
    }

    .about {
        min-height: 100vh;
        height: 100%;
    }
}