@import url(../css/normalize.css);

$main: #d4bd68;
$dark-bg: #292929;
$second: rgb(255, 217, 0);
$shadow: rgba(0, 0, 0, .15);
$blue: #3d8be3;

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .container {
    max-width: unset;
}


.btn {
    background: $main;
    border: none;
    padding: 5px 15px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    border: 1px solid transparent;
    font-weight: 600;
    transition: all .3s;

    &:hover {
        background: transparent;
        border: 1px solid $main;
    }
}

.btn-white {
    color: black;
    background: white;

    &:hover {
        background: $main;
        background: transparent;
        border: 1px solid white;
        color: white;
    }
}


.title {
    font-size: clamp(24px, 19.26px + 1.18vw, 42px);
    font-weight: bold;
    text-align: center;
}

.header {
    padding: 0px 40px;
    border-bottom: 1px solid lighten($shadow, 100%);
    // background: $main;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__logo {
        color: $main;
        text-decoration: none;
        font-size: 36px;
        font-weight: bold;
        line-height: 100%;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 30px;
        color: $main;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        margin-top: 10px;
    }

    &__item {
        text-decoration: none;
        color: $main;
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__tg {
        width: 75px;
        height: 75px;
        padding: 10px;
    }

    &__contact {}
}

.choises {
    cursor: pointer;
    position: relative;
    width: 150px;
    z-index: 10;
}

.choises::before {
    content: '∨';
    position: absolute;
    right: 20px;
    font-size: 20px;
    color: white;
    line-height: 20px;
    // font-weight: 900;
    top: 50%;
    transform: translateY(-50%);
}

.choise {
    cursor: pointer;
    padding: 5px 15px;

    .active &__selected {
        border-radius: 5px 5px 0 0;
    }

    &__selected {
        padding: 10px 20px;
        background: $main;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        transition: all .3s;
    }

    &__items {
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: height .3s ease-out;
        background: white;
        border-radius: 0 0 10px 10px;
        box-shadow: 1px 1px 5px $shadow;
    }

    // .active &__items {
    //     height: auto;

    // }
}


.hero {
    position: relative;
    height: calc(100vh - 80px);
    margin: 40px;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 0;
    z-index: 0;
    background: url('../img/hero-image.jpg') center / cover no-repeat;
    background-attachment: fixed;

    .container {
        height: 100%;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .65);
        z-index: 1;
    }




    &__wrapper {
        position: relative;
        z-index: 2;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        font-size: 52px;
        color: white;
        text-align: center;
        max-width: 800px;
        font-weight: bold;
    }

    &__text {
        margin-top: 30px;
        font-size: 22px;
        color: white;
        text-align: center;
    }

    &__button {
        margin-top: 40px;
        padding: 15px 40px;
        border-radius: 30px;
    }
}

.about {
    margin-top: 30px;
    background: url('../img/about-image.jpg') center / cover no-repeat;
    border-radius: 30px;
    overflow: hidden;
    height: 100vh;
    position: relative;

    .container {
        height: 100%;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .75);

    }

    &__wrapper {
        color: white;
        position: relative;
        z-index: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -50px;
    }

    &__title {
        text-align: center;
        font-weight: bold;
        font-size: 22px;
    }

    &__text {
        font-size: 18px;
        max-width: 660px;
        margin: 0 auto;
        margin-top: 30px;
    }

    &__author {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    &__icon {

        width: 100%;
        display: flex;
        justify-content: center;

        img {
            width: 75px;
            height: 75px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    &__name {
        margin-top: 10px;
    }

    &__date {
        margin-top: 5px;
    }

    &__down {
        display: flex;
        justify-content: center;
        width: 100%;
        cursor: pointer;
        filter: invert(1);
        margin-top: 15px;

        img {
            width: 75px;
            animation: bounce 1s infinite alternate linear;
        }
    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(10px);
    }
}

.who {
    height: 100vh;

    &__wrapper {
        padding: 135px 0;
    }

    &__title {
        text-align: center;
        font-weight: bold;
    }

    &__subtitle {
        font-size: 24px;
        text-align: center;
        max-width: 600px;
        font-weight: 300;
        margin: 0 auto;
        margin-top: 30px;
    }

    &__list {
        margin-top: 75px;
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__name {
        font-weight: bold;
        font-size: 20px;
        align-items: center;
        display: flex;
        gap: 20px;

        &::before {
            content: '✓';
            margin-top: 5px;
            background: $second;
            display: grid;
            place-items: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: white;

        }
    }

    &__descr {
        font-weight: 300;
        padding-left: 50px;
        font-size: 18px;
    }
}

.advantages {
    background: $dark-bg;
    color: white;

    .who__name {
        &::before {
            color: $dark-bg;
        }
    }

}

.rules {

    background: #eeeeee;
    padding: 90px 0;

    &__wrapper {
        max-width: 760px;
        margin: 0 auto;
    }

    &__title {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }

    &__sublist {
        padding-left: 20px;
        max-width: 560px;
        margin: 0 auto;
        margin-top: 30px;
        display: grid;
        gap: 10px;
        font-weight: 300;
    }

    ul.rules__sublist {
        list-style: disc;
    }

    ol.rules__sublist {
        list-style: decimal;
    }


    &__subitem {
        font-size: 14px;
    }

    &__questions {
        background: white;
        margin-top: 50px;
        box-shadow: 1px 1px 10px $shadow;
    }
}


.question {
    border-bottom: 1px solid lightgray;



    &__name {
        padding: 20px 30px;
        cursor: pointer;
        position: relative;
        font-weight: bold;

        &:hover {

            &:before {
                background: $shadow;
            }
        }

        &::before {
            content: '+';
            position: absolute;
            right: 20px;
            top: 50%;
            width: 40px;
            transition: all .3s linear;
            height: 40px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            font-size: 30px;
            line-height: 30px;
            transform: translateY(-50%);
            padding-bottom: 7px;
            font-weight: 300;

        }
    }

    &__answer {
        height: 0;
        transition: all .5s;
        overflow: hidden;
        padding: 0px 30px;
        font-weight: 300;
    }

    &__answer.active {
        padding-bottom: 20px;
    }

    &.active &__name::before {
        transform: translateY(-50%) rotate(-45deg);
    }

}

.partners {
    padding: 135px 0;

    &__wrapper {}

    .rules__sublist {
        li {
            font-size: 18px;
        }
    }

    &__title {}

    &__items {
        margin-top: 80px;
        display: grid;
        gap: 80px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 22.5px;
            z-index: 0;
            top: 0px;
            width: 3px;
            height: 90%;
            background: $second;
        }
    }

    &__item {
        display: flex;
        gap: 25px;
        counter-increment: numberBlock;
        z-index: 1;
    }

    &__number {
        background: $second;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        position: relative;
        flex-shrink: 0;


        &::before {
            content: counter(numberBlock);
            font-size: 20px;
            line-height: 20px;
            font-weight: 600;
        }


    }

    &__info {}

    &__name {
        font-size: 22px;
        font-weight: bold;
    }

    &__text {
        font-weight: 300;
    }
}

.safety {
    .who__subtitle {
        max-width: 560px;

        p {
            margin-bottom: 0;
        }
    }
}

.tg {

    padding: 50px 0;

    &__button {
        padding: 15px 60px;
        border: 3px solid $blue;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        color: black;
        display: block;
        width: max-content;
        margin: 0 auto;
    }
}